@model Kasir.Api.ViewModel.WordViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>تفاصيل الكلمة</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-4">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ImagePath)
                </dt>
                <dd class="col-sm-8">
                    <img width="200" height="200" src="@UploadDownloadHelper.ShowWordImage(Model.ImagePath)" />
                </dd>
            </dl>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <dl class="row">
                @for (int i = 0; i < ((List<LanguageDto>)ViewBag.Languages).Count(); i++)
                {
                    LanguageDto lang = ViewBag.Languages[i];
                    <dt class="col-sm-4">
                        <label class="control-label">@lang.Name</label>

                    </dt>
                    <dd class="col-sm-8">
                    </dd>
                    <dt class="col-sm-4">
                        WS Name
                    </dt>
                    <dd class="col-sm-8">
                        @Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordTitle
                    </dd>
                    <dt class="col-sm-4">
                        Dsc Details
                    </dt>
                    <dd class="col-sm-8">
                        @Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordInformation
                    </dd>
                }
            </dl>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            Countries
            
            <dl class="row">
                @for (int i = 0; i < ((List<CountryDto>)ViewBag.Countries).Count(); i++)
                {
                    CountryDto country = ViewBag.Countries[i];
                    bool value = Model.WordCountryViewModels.FirstOrDefault(cl => cl.CountryId == country.Id) != null;
                    <dt class="col-sm-4">
                        @country.Name
                    </dt>
                    <dd class="col-sm-8">

                        <input type="checkbox"
                           disabled
                           checked="@(value?"on":null)"
                           class="form-control" />

                    </dd>

                }
            </dl>
        </div>
    </div>

</div>
<div>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">رجوع</a>
</div>

@section Scripts{
<script>

    function removeButton(id) {
        console.log(id)
        var r = confirm('هل انت متأكد من الحذف');
        if (r == true) {
            window.location.replace(`/Words/DeleteWordImage?id=${id}&wordId=${@Model.Id}`);
        }
    }

</script>
}

