@model Kasir.Api.ViewModel.WordViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>تفاصيل الكلمة</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-4">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Information)
                </dt>
                <dd class="col-sm-8">
                    g
                    @Html.DisplayFor(model => model.Information)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ImagePath)
                </dt>
                <dd class="col-sm-8">
                    <img width="200" height="200" src="@UploadDownloadHelper.ShowWordImage(Model.ImagePath)" />
                </dd>
            </dl>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <dl class="row">
                @for (int i = 0; i < ((List<LanguageDto>)ViewBag.Languages).Count(); i++)
                {
                    LanguageDto lang = ViewBag.Languages[i];
                    <dt class="col-sm-4">
                        <label class="control-label">@lang.Name</label>

                    </dt>
                    <dd class="col-sm-8">
                    </dd>
                    <dt class="col-sm-4">
                        العنوان
                    </dt>
                    <dd class="col-sm-8">
                        @Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordTitle
                    </dd>
                    <dt class="col-sm-4">
                        الكلمة
                    </dt>
                    <dd class="col-sm-8">
                        @Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordName
                    </dd>
                    <dt class="col-sm-4">
                        التفاصيل
                    </dt>
                    <dd class="col-sm-8">
                        @Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordInformation
                    </dd>
                }
            </dl>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <dl class="row">
                @for (int i = 0; i < ((List<CountryDto>)ViewBag.Countries).Count(); i++)
                {
                    CountryDto country = ViewBag.Countries[i];
                    <dt class="col-sm-4">
                        @country.Name
                    </dt>
                    <dd class="col-sm-8">
                        @if (Model.WordImageViewModels.FirstOrDefault(cl => cl.CountryId == country.Id)?.ImagePath == null)
                        {
                            <p>لا يوجد صورة</p>
                        }
                        else
                        {
                            <img width="100" height="100" src="@UploadDownloadHelper.ShowWordImage(Model.WordImageViewModels.FirstOrDefault(cl=>cl.CountryId == country.Id)?.ImagePath)" />

                        }
                    </dd>

                }
            </dl>
        </div>
    </div>

</div>
<div>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">رجوع</a>
</div>
