@model Kasir.Api.ViewModel.WordViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>تعديل كلمة</h1>

<hr />
<div>
    <form asp-action="Edit" class="row" enctype="multipart/form-data">
        <div class="col-md-6 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input required asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img width="200" height="200" src="@UploadDownloadHelper.ShowWordImage(Model.ImagePath)" />
            </div>
            <div class="form-group">
                <label class="control-label">Default Image</label>
                <input name="WordImage" type="file" accept="image/*" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="تأكيد" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            @for (int i = 0; i < ((List<LanguageDto>)ViewBag.Languages).Count(); i++)
            {
                LanguageDto lang = ViewBag.Languages[i];
                <input type="hidden"
                   name="WordLanguageDtos[@i].LanguageId"
                   value="@lang.Id" />
                <div class=" border p-2">

                    <div class="form-group">
                        <label class="control-label">WS Name (@lang.Name)</label>
                        <input required name="WordLanguageDtos[@i].Title"
                           value="@Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordTitle"
                           class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dsc Details (@lang.Name)</label>
                        <input required name="WordLanguageDtos[@i].Information"
                           value="@Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordInformation"
                           class="form-control" />
                    </div>
                </div>

            }
        </div>
        <div class="col-md-6 col-lg-4">
            Countries
            @for (int i = 0; i < ((List<CountryDto>)ViewBag.Countries).Count(); i++)
            {
                CountryDto country = ViewBag.Countries[i];
                bool value = Model.WordCountryViewModels.FirstOrDefault(cl => cl.CountryId == country.Id) != null;
                <div class="input-group mb-3 border p-2">
                    <input type="hidden"
                       name="WordCountryDtos[@i].CountryId"
                       value="@country.Id" />
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" name="WordCountryDtos[@i].Checked"
                               checked="@(value?"on":null)">
                        </div>
                    </div>
                    <label class="control-label px-2">@country.Name</label>
                </div>
                @*
                    <div class="form-group border p-2">

                    <input type="checkbox"
                    name="WordCountryDtos[@i].Checked"
                    checked="@(value?"on":null)"
                    class="form-control" />

                    </div>*@
            }
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">رجوع</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
