@model Kasir.Api.ViewModel.WordViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>تعديل كلمة</h1>

<hr />
<div>
    <form asp-action="Edit" class="row" enctype="multipart/form-data">
        <div class="col-md-6 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input required asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input required asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input required asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img width="200" height="200" src="@UploadDownloadHelper.ShowWordImage(Model.ImagePath)" />
            </div>
            <div class="form-group">
                <label class="control-label">Default Image</label>
                <input name="WordImage" type="file" accept="image/*" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="تأكيد" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            @for (int i = 0; i < ((List<LanguageDto>)ViewBag.Languages).Count(); i++)
            {
                LanguageDto lang = ViewBag.Languages[i];
                <div class="form-group">
                    <input type="hidden"
                       name="WordLanguageDtos[@i].LanguageId"
                       value="@lang.Id" />
                </div>
                <label class="control-label">@lang.Name</label>

                <div class="form-group">
                    <label class="control-label">WS Name</label>
                    <input required name="WordLanguageDtos[@i].Title"
                       value="@Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordTitle"
                       class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Dsc Code</label>
                    <input required name="WordLanguageDtos[@i].Name"
                       value="@Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordName"
                       class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Dsc Details</label>
                    <input required name="WordLanguageDtos[@i].Information"
                       value="@Model.WordLanguageViewModels.FirstOrDefault(cl=>cl.LanguageId == lang.Id)?.WordInformation"
                       class="form-control" />
                </div>
            }
        </div>
        <div class="col-md-6 col-lg-4">
            @for (int i = 0; i < ((List<CountryDto>)ViewBag.Countries).Count(); i++)
            {
                CountryDto country = ViewBag.Countries[i];
                <div class="form-group">
                    <input type="hidden"
                       name="WordImageDtos[@i].CountryId"
                       value="@country.Id" />
                </div>
                <div class="form-group">
                    <label class="control-label">@country.Name</label>

                </div>
                <div class="form-group">
                    @if (Model.WordImageViewModels.FirstOrDefault(cl => cl.CountryId == country.Id)?.ImagePath == null)
                    {
                        <p>لا يوجد صورة</p>
                    }
                    else
                    {
                        <img width="100" height="100" src="@UploadDownloadHelper.ShowWordImage(Model.WordImageViewModels.FirstOrDefault(cl=>cl.CountryId == country.Id)?.ImagePath)" />

                    }
                    <input type="file" name="WordImageDtos[@i].WordImage" accept="image/*" class="form-control" />
                </div>
            }
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">رجوع</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
