@using Kasir.Api.Helpers
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="position:fixed;">
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Kasir</span>
    </a>
    <div class="sidebar">
@if (User.Identity.IsAuthenticated)
{
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a asp-action="Manage" asp-controller="Account" class="d-block">مرحبا, @User.Identity.Name </a>
        </div>
    </div>
}
else
{
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
            <a href="#" class="d-block">مرحبا، بالضيف</a>
        </div>
    </div>
}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            الرئيسية
                        </p>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated && (User.IsInRole(AccessRoles.Developer) || User.IsInRole(AccessRoles.Admin)))
                {
                    @*<li class="nav-item ">
                <a asp-controller="Announcements" asp-action="Index" class="nav-link @Url.MakeActiveClass("Announcement")">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>
                        التعميمات
                    </p>
                </a>
            </li>*@
                    <li class="nav-item ">
                        <a asp-controller="Requests" asp-action="Index" class="nav-link @Url.MakeActiveClass("Requests")">
                            <i class="nav-icon fas fa-location-arrow"></i>
                            <p>
                                الطلبات
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="Checks" asp-action="Index" class="nav-link @Url.MakeActiveClass("checks")">
                            <i class="nav-icon fas fa-history"></i>
                            <p>
                                تسجيلات الدوام
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="Attendance" asp-action="Index" class="nav-link @Url.MakeActiveClass("attendance")">
                            <i class="nav-icon fas fa-history"></i>
                            <p>
                                سجل الحضور
                            </p>
                        </a>
                    </li>
                    @*<li class="nav-item ">
                <a asp-controller="Grades" asp-action="Index" class="nav-link @Url.MakeActiveClass("grades")">
                    <i class="nav-icon fas fa-chair"></i>
                    <p>
                        الصفوف
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Students" asp-action="Index" class="nav-link @Url.MakeActiveClass("students")">
                    <i class="nav-icon fas fa-user-graduate"></i>
                    <p>
                        الطلاب
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Teachers" asp-action="Index" class="nav-link @Url.MakeActiveClass("teachers")">
                    <i class="nav-icon fas fa-graduation-cap"></i>
                    <p>
                        المعلمين
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Points" asp-action="Index" class="nav-link @Url.MakeActiveClass("points")">
                    <i class="nav-icon fas fa-receipt"></i>
                    <p>
                        تبادل النقاط
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="AppInformation" asp-action="Index" class="nav-link @Url.MakeActiveClass("appinfromtaion")">
                    <i class="nav-icon fas fa-info"></i>
                    <p>
                        معلومات التطبيق
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="FeedBacks" asp-action="Index" class="nav-link @Url.MakeActiveClass("feedbacks")">
                    <i class="nav-icon fas fa-comments"></i>
                    <p>
                        الملاحظات
                    </p>
                </a>
            </li>*@
                    @if (User.IsInRole(AccessRoles.Developer))
                    {
                        <li class="nav-item ">
                            <a asp-controller="AppVersion" asp-action="Index" class="nav-link @Url.MakeActiveClass("AppVersion")">
                                <i class="nav-icon fas fa-file"></i>
                                <p>
                                    App Version
                                </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="~/Swagger/" class="nav-link">
                                <i class="nav-icon fas fa-file"></i>
                                <p>
                                    Swagger
                                </p>
                            </a>
                        </li>
                    }


                }
            </ul>
        </nav>
    </div>
</aside>