@using Kasir.Api.Helpers
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="position:fixed;">
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Kasir</span>
    </a>
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a asp-action="Manage" asp-controller="Account" class="d-block">مرحبا, @User.Identity.Name </a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">مرحبا، بالضيف</a>
                </div>
            </div>
        }
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            الرئيسية
                        </p>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated && (User.IsInRole(AccessRoles.Developer) || User.IsInRole(AccessRoles.Admin)))
                {
                    @*<li class="nav-item ">
                        <a asp-controller="Announcements" asp-action="Index" class="nav-link @Url.MakeActiveClass("Announcement")">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                        التعميمات
                        </p>
                        </a>
                        </li>*@
                    <li class="nav-item ">
                        <a asp-controller="Announcements" asp-action="Index" class="nav-link @Url.MakeActiveClass("Announcements")">
                            <i class="nav-icon fas fa-newspaper"></i>
                            <p>
                                التعميمات
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="AppInfos" asp-action="Index" class="nav-link @Url.MakeActiveClass("AppInfos")">
                            <i class="nav-icon fas fa-info"></i>
                            <p>
                                صفحة الترحيب
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="Countries" asp-action="Index" class="nav-link @Url.MakeActiveClass("Countries")">
                            <i class="nav-icon fas fa-location-arrow"></i>
                            <p>
                                البلدان
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="Words" asp-action="Index" class="nav-link @Url.MakeActiveClass("Words")">
                            <i class="nav-icon fas fa-list"></i>
                            <p>
                                الكلمات
                            </p>
                        </a>
                    </li>
                    @if (User.IsInRole(AccessRoles.Developer))
                    {
                        <li class="nav-item ">
                            <a asp-controller="AppVersion" asp-action="Index" class="nav-link @Url.MakeActiveClass("AppVersion")">
                                <i class="nav-icon fas fa-file"></i>
                                <p>
                                    App Version
                                </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="~/Swagger/" class="nav-link">
                                <i class="nav-icon fas fa-file"></i>
                                <p>
                                    Swagger
                                </p>
                            </a>
                        </li>
                    }


                }
            </ul>
        </nav>
    </div>
</aside>